/*
color palet:
yellow: (232, 169, 65)
sand: (191,  183,  147)
darker_sand: (166, 166, 148)
blue: (38, 93, 113)
dark_blue: (8,29,37)
 */

.hero {
  &.has-background {
    position: relative;
    overflow: hidden;
  }

  &-background {
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100%;

    &.is-transparent {
      opacity: 0.3;
    }
  }
}

.burger {
  background-color: transparent;
  border:none;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

.navbar-brand {
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.centered {
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

html * {
  font-family: "JetBrains Mono" !important;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
}

.sidenav a:hover {
  color: rgb(38, 93, 113);
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0 10px;
}